html {
  font-family: var(--font);
  background-color: var(--background-dark);
  color: var(--text-primary);
  font-size: 16px;
}

body {
  background-color: var(--background-dark);
  color: var(--text-primary);
}

/* Add global button styling */
button {
  transition: background-color 0.3s ease;
}

/* Remove yellow highlight on input focus */
input:focus,
textarea:focus,
select:focus,
button:focus,
[contenteditable="true"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-blue-light);
  border-color: var(--primary-blue-light);
}

/* Set scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: var(--background-dark-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-blue);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-blue-hover);
}
